*::before, *::after {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: lightyellow;
}

body.correct {
    background-color: green;
}

body.wrong {
    background-color: red;
}

#intro {
    text-align: center;
    margin-top: 40px;
    background-color: lightskyblue;
    padding: 10px;
}
#question {
    font-size: xx-large;
}

#startbtn {
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#nextbtn {
    color: white;
    background-color: indigo;
    padding: 10px;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#Question-Section {
    text-align: center;
}

#Answer-Section {
    text-align: center;
    padding: 30px;
    background-color: gold;
}

#Answer-Section button {
    display: inline-block;
    justify-content: center;
}

.button {
    height: 40px;
    width: 200px;
    background-color: lightblue;
}

.button.correct {
    background-color: green;
}

.button.wrong {
    background-color: red;
}

.button2:hover {
    background-color: rgb(99, 99, 255);
}

#Score-Container {
    margin-left: 33%;
    margin-right: 33%;
    background-color: gold;
}

#Score {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    
}

.Controls {
    width: 500px;
    display: block;
    justify-content: center;
    align-items: center;
    
}

.Controls button {
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    
}

#leaderboard-container {
    margin-left: 20%;
    margin-right: 20%;
    padding: 30px;
}

.hide {
    display: none;
}
