*::before, *::after {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: lightyellow;
}

#intro {
    text-align: center;
    margin-top: 40px;
    background-color: lightskyblue;
    padding: 10px;
}
#question {
    font-size: xx-large;
}

#startbtn {
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#finishbtn {
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#seeScore {
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#restart {
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#nextbtn {
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#Question-Section {
    text-align: center;
}

#Answer-Section {
    text-align: center;
    padding: 30px;
    background-color: gold;
}

#Answer-Section button {
    display: inline-block;
    justify-content: center;
}

.button {
    height: 40px;
    width: 200px;
    background-color: lightblue;
}

.button2:hover {
    background-color: rgb(99, 99, 255);
}

#Score-Container {
    margin-left: 33%;
    margin-right: 33%;
    background-color: gold;
    border-radius: 60px;
}

.Score-description {
    margin-left: 60px;
}

#Score {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    
}

.Controls {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 33%;
    margin-right: 33%;
    
}

.Controls button {
    justify-content: center;
    align-items: center;
    
    width: 100%
    
}

#leaderboard-container {
    margin-left: 20%;
    margin-right: 20%;
    padding: 30px;
}

#leaderboard {
    display: flex;
}

input {
    height: 50px;
    width: 100%;
    padding: 8px;

}

#leaderboardUsers {
    list-style-type: none;
    padding: 0;
    background-color: white;
}
  
.Scorelist {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 1.5em;
    line-height: 1.5;
}

#time-out {
    margin-right: 33%;
    margin-left: 33%;
}

.time-out-message {
    width: 100%;
    text-align: center;
}

li button {
    float: right;
    border: none;
    height: 40px;
    cursor: pointer;
    background-color: blue;
    color: white;
    font-size: 1em;
    border-radius: 30px;
}

.hide {
    display: none;
}
